h1 {
    color: white;
}

input {
    display: block;
    margin: 0 0 10px 0;
}

.divisao {
    border: 1px solid black;
    border-radius: 10px;
    width: 700px;
    height: 400px;
    position: relative;
    margin: 70px auto;
    background: white;
}

form {
    position: relative;
    margin: 5% 30%;
    font-size: 20px;
    padding: 10px 20px;
}

legend {
    padding: 0 0 15px 0;
    font-weight: bold;
    font-size: 22px;
}

.e {
    margin: 0 0 10px 0;
    padding: 5px 65px;
    cursor: pointer;
}

body {
    background: url(caseItem3.jpg);
}

a {
    text-decoration: none;
    color: black;
}

button {
    margin-top: 20px;
}